* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
body {
  background-color: #671fff;
  height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 40px;
  height: auto;
}
.logo h1 {
  color: #eee;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 0.8rem;
}

ul {
  display: flex;
  list-style: none;
  gap: 5rem;
}

ul li a {
  text-decoration: none;
  cursor: pointer;
  color: #eee;
}

ul li a:hover {
  color: #1f9dff;
}
.btn {
  background-color: #1f9dff;
  padding: 0.9rem 1.3rem;
  border-radius: 0.5rem;
}

.btn:hover {
  background-color: #a718f4;
  color: #000;
}

.meio {
  display: flex;
  max-width: 100%;
  margin-top: 3rem;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.rigth img {
  max-width: 100%;
  height: 100%;
  width: 500px;
}

.left {
  max-width: 100%;
}

.title h1 {
  font-size: 3rem;
  color: #eee;
  line-height: 3rem;
  margin-bottom: 1rem;
}

left p {
  color: #eee;
  line-height: 2rem;
}

button {
  color: #eee;
  background-color: #1f9dff;
  padding: 0.9rem 1.3rem;
  border-radius: 0.5rem;
  border: none;
  margin-top: 1.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #a718f4;
  color: #000;
}

aside {
  display: none;
}

@media screen and (max-width: 740px) {
  ul {
    display: none;
  }

  .links {
    display: block;
  }

  .logo {
    margin-right: 15rem;
  }
  aside {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    overflow: hidden;
  }

  #barra-menu {
    background-color: #1f9dff;
    width: 0px;
    height: 100vh;
    transition: all 0.3s;
  }

  .icon-menu ion-icon {
    width: 45px;
    height: 45px;
    margin-right: 1.5rem;
    margin-top: 2rem;
    color: #eee;
  }
  #barra-menu ul {
    align-items: center;
    text-align: center;
    padding: 5rem;
    line-height: 5rem;
  }
  #barra-menu ul li a {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    width: 100%;
  }
  #barra-menu ul li a:hover {
    background-color: #671fff;
    padding: 8px;
    border-radius: 1rem;
  }
  .c-icons {
    margin-top: 50%;
    display: flex;
    justify-content: center;
    gap: 15px;
    overflow: hidden;
  }
  .c-icons span {
    color: #eee;
    font-size: 1rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 580px) {
  .title h1 {
    font-size: 2.2rem;
    margin-left: 1.5rem;
  }
  .left p {
    font-size: 1rem;
    margin-left: 1.5rem;
    width: 450px;
  }
  button {
    margin-left: 1.5rem;
  }
  .rigth img {
    max-width: 100%;
    width: 450px;
    margin-top: 4.5rem;
    height: auto;
  }
}
@media screen and (max-width: 440px) {
  .right img {
    margin-left: 1.2rem;
  }
  .left p {
    width: 300;
  }
}
